@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --bs-primary: #4564e5;
    --soft-blue: #f1f5fb;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serifl;
}

a {
    text-decoration: none;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.bg-soft-blue {
    background-color: var(--soft-blue);
}

.fs-7 {
    font-size: 14px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border-color: var(--bs-primary);
}

.form-select,
.form-control,
.btn {
    border-radius: 0.5rem;
    padding: 10px 18px;
}

.btn-sm {
    border-radius: 0.5rem;
    padding: 6px 12px;
    font-weight: 400 !important;
}

.btn {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-primary {
    background-color: var(--bs-primary);
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-item:hover,
.navbar .navbar-nav .nav-item.dropdown .dropdown-item.active {
    background-color: var(--bs-primary);
    color: #fff;
}

.navbar .navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: var(--bs-primary);
    color: #fff;
}

.card {
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: 0.3s all ease;
}

.card:hover {
    border-color: var(--bs-primary);
}

.card .card-body {
    padding: 3rem;
}

.card .card-body .icon {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-blue);
    color: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.table thead tr th {
    color: #6c757d;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
